<launch>
	<param name="use_sim_time" value="false"/>

 
  <node name="neato04" pkg="neato_node" type="waiter.py" output="screen">
    <param name="port" value="/dev/ttyACM0" />
  </node>
  <node name="touch04" pkg="neato_node" type="arduino04.py">
    <param name="port0" value="/dev/ttyACM0" />
  </node>
  
</launch>
